* {
	font-family: 'Josefin Sans', sans-serif;
	padding: 0;
	margin: 0;
}
header{
	border: 1px solid;
	height: 70px;
	width: 100%;
	background: lightgrey;
}
header h1{
	display: inline-block;
	float: left;
	padding: 15px 25px 
}
header h1 a:hover{
	color: #cca22d;
}
header h1 a {
	transition: .3s: 
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
	padding: 25px;
}
a{
	text-decoration: none;
}
.container{
	width:90%;
	margin:0 auto;
}
.container::after{
		content: '';
		display: block;
		clear: both;
}
menu-sidebar{
	float: right;
	display: none;
	padding: 11px
}
@media(max-width: 768px){
.menu-sidebar{
	display:block;
	}
header-ul-{
	display: none;
	}
	.col-4 {
		width:50%;
	}
	.col-3 {
		width: 100;
	}
}
/*bagian sidebar*/
.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;
	background-color: rgba(33,237,217, ,8 );
	transition:.3s;
	z-index: 9999;
}
.sidebar ul li a{
	color:#fff;
}
.sidebar ul li{
	padding:25px;
	transition:.35;
	transition-property:background-color; 	
}
 .sidebar ul li a{
 		color: #fff;
} 		
.sidebar ul li {
	padding: 25px;
	transition: .35;
	transition-property: background-color;
}
.sidebar ul li:hover{
	background-color: #cca22d;
}
#bar:checked ~ .sidebar{
	left:0; 
}
#bar{
	display: none;
}

/*bagian banner*/
.banner{
	background:linear-gradient(to top,#00969e 0%   #808080  120%);
	padding: 150px 0;
}
 .banner img{
 		 width: 150px;
 		 border-radius: 50%;
 		 margin-bottom: 10px;
 		 box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0, 2),0 6px 20px 0 rgba(0, 0, 0, 20);
 }	
 .b-center{
 	text-align: center;
 }
 
 
 .banner h2,
 .banner p,
 .banner span {
 	color: red;
 }
 
 .banner h2{
 	margin-bottom: 10px;

 }		

.banner p{
	font-size: 18px;

}


section {
	position: 50px 0;

}

section h3::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0px;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 20%);

}

section h3::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height: 4px;
	background-color: #00969e;
	left:calc(50% - 20px);

}

/*bagian about*/

#about p {
	text-align: center;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;

}

/*bagian skills*/

#skills {
	background-color: #808080;

}

#skills  .l-skills {
	height: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 5px 0 20px 0;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0, 2);

}

.l-skills{
	border-radius: 40px;

}

.l-skills .nilai {
	height: 30px;
	background-color: #00969e;
	display: inline-block;
	color: #fff;
	text-align: center;
	width: 10px;
	transition: widht 2s;
	border-radius: 40px;

}

.pho:hover {
   
}

.pho:hover {

}
 

